<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
  <label>Buy Now Pay Later</label>
  <label lang="de">Kauf auf Rechnung</label>
  <version>1.7.3-rc</version>
  <copyright>axytos GmbH</copyright>
  <license>proprietary</license>
  <link>https://www.axytos.com </link>
  <author>axytos GmbH</author>
  <compatibility minVersion="5.3.0"/>
  <description><![CDATA[

        <b>Buy Now Pay Later</b>

        <p>You conveniently pay the invoice as soon as you receive the goods, within the payment period</p>

    ]]></description>
  <description lang="de"><![CDATA[

        <b>Kauf auf Rechnung</b>

        <p>Sie zahlen bequem die Rechnung, sobald Sie die Ware erhalten haben, innerhalb der Zahlfrist</p>

    ]]></description>
  <changelog version="1.1.0">
    <changes><![CDATA[

        First release Shopware Community Store

    ]]></changes>
    <changes lang="de"><![CDATA[

        Erstveröffentlichung Shopware Community Store

    ]]></changes>
  </changelog>
  <changelog version="1.2.0">
    <changes><![CDATA[

        Configurable order and payment status after checkout.

    ]]></changes>
    <changes lang="de"><![CDATA[

        Konfigurierbarer Bestell- und Zahlungsstatus nach Checkout.

    ]]></changes>
  </changelog>
  <changelog version="1.3.0">
    <changes><![CDATA[

        Cron Job for monitoring and reporting order information

	  ]]></changes>
    <changes lang="de"><![CDATA[

        Cron Job zur Ueberwachung und Meldung von Bestellungen

	  ]]></changes>
  </changelog>
  <changelog version="1.3.1">
    <changes><![CDATA[

        Shopware 5.3 compatibility adjustments

	  ]]></changes>
    <changes lang="de"><![CDATA[

        Shopware 5.3 Kompatibilitätsanpassungen

	  ]]></changes>
  </changelog>
  <changelog version="1.4.0">
    <changes><![CDATA[

        Shopware 5.3 compatibility adjustments

	  ]]></changes>
    <changes lang="de"><![CDATA[

        Shopware 5.3 Kompatibilitätsanpassungen

	  ]]></changes>
  </changelog>
  <changelog version="1.4.1">
    <changes><![CDATA[

        Shopware 5.3 compatibility adjustments

	  ]]></changes>
    <changes lang="de"><![CDATA[

        Shopware 5.3 Kompatibilitätsanpassungen

	  ]]></changes>
  </changelog>
  <changelog version="1.4.2">
    <changes><![CDATA[

        Shopware 5.3 compatibility adjustments
        Fix problems with free shipping

	]]></changes>
    <changes lang="de"><![CDATA[

        Shopware 5.3 Kompatibilitätsanpassungen
        Probleme mit kostenlosem Versand behoben

	]]></changes>
  </changelog>
  <changelog version="1.4.3">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.4.4">
    <changes><![CDATA[

        Shopware 5.3 compatibility adjustments

	  ]]></changes>
    <changes lang="de"><![CDATA[

        Shopware 5.3 Kompatibilitätsanpassungen

	  ]]></changes>
  </changelog>
  <changelog version="1.4.5">
    <changes><![CDATA[

        Minor Bugfixes

	  ]]></changes>
    <changes lang="de"><![CDATA[

        Kleine Fehleranpassungen

	  ]]></changes>
  </changelog>
  <changelog version="1.4.6">
    <changes><![CDATA[

        Make invoice document type configurable
        
	]]></changes>
    <changes lang="de"><![CDATA[

        Rechnungsdokumenttyp konfigurierbar gemacht

	]]></changes>
  </changelog>
  <changelog version="1.4.7">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.4.8">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.4.9">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.4.10">
    <changes><![CDATA[

        Make error messages configurable

	]]></changes>
    <changes lang="de"><![CDATA[

        Fehlermeldungen konfigurierbar gemacht

	]]></changes>
  </changelog>
  <changelog version="1.4.11">
    <changes><![CDATA[

        Additional synchronization options

	]]></changes>
    <changes lang="de"><![CDATA[

        Weitere Synchronisierungsmöglichkeiten

	]]></changes>
  </changelog>
  <changelog version="1.4.12">
    <changes><![CDATA[

        Additional synchronization options

	]]></changes>
    <changes lang="de"><![CDATA[

        Weitere Synchronisierungsmöglichkeiten

	]]></changes>
  </changelog>
  <changelog version="1.4.13">
    <changes><![CDATA[

        Additional synchronization options
        
	]]></changes>
    <changes lang="de"><![CDATA[

        Weitere Synchronisierungsmöglichkeiten

	]]></changes>
  </changelog>
  <changelog version="1.4.14">
    <changes><![CDATA[

        Additional synchronization options
        
	]]></changes>
    <changes lang="de"><![CDATA[

        Weitere Synchronisierungsmöglichkeiten

	]]></changes>
  </changelog>
  <changelog version="1.4.15">
    <changes><![CDATA[

        Additional synchronization options
        
	]]></changes>
    <changes lang="de"><![CDATA[

        Weitere Synchronisierungsmöglichkeiten

	]]></changes>
  </changelog>
  <changelog version="1.4.17">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.4.18">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.4.19">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.4.20">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.4.21">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.5.0">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.0">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.1">
    <changes><![CDATA[
    Front-End changed Placement of check box on check out
	]]></changes>
    <changes lang="de"><![CDATA[
    Front-End Änderung der Platzierung der Check Box beim Check Out
	]]></changes>
  </changelog>
  <changelog version="1.6.2">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.3">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.4">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.5">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.6">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.7">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.8">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.9">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.10">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.11">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.11-rc">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.14-rc">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.15-rc">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.16-rc">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.17-rc">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.18-rc">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.6.19-rc">
    <changes><![CDATA[

      Adjusted handling and formatting of plugin additional description 

	]]></changes>
    <changes lang="de"><![CDATA[

      Anpassung der Handhabung und Formatierung der zusätzlichen Plugin-Beschreibung

	]]></changes>
  </changelog>
  <changelog version="1.7.0-alpha">
    <changes><![CDATA[

      Adjusted handling and formatting of plugin additional description

	]]></changes>
    <changes lang="de"><![CDATA[

      Anpassung der Handhabung und Formatierung der zusätzlichen Plugin-Beschreibung

	]]></changes>
  </changelog>
  <changelog version="1.7.1-alpha">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.7.1-rc">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.7.0">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.7.2">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.7.3-alpha">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
  <changelog version="1.7.3-rc">
    <changes><![CDATA[
	]]></changes>
    <changes lang="de"><![CDATA[
	]]></changes>
  </changelog>
</plugin>
