<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
  <label>Buy Now Pay Later</label>
  <label lang="de">Kauf auf Rechnung</label>
  <version>1.4.1</version>
  <copyright>axytos GmbH</copyright>
  <license>proprietary</license>
  <link>https://www.axytos.com </link>
  <author>axytos GmbH</author>
  <compatibility minVersion="5.3.0"/>
  <description><![CDATA[

        <b>Buy Now Pay Later</b>

        <p>You conveniently pay the invoice as soon as you receive the goods, within the payment period</p>

    ]]></description>
  <description lang="de"><![CDATA[

        <b>Kauf auf Rechnung</b>

        <p>Sie zahlen bequem die Rechnung, sobald Sie die Ware erhalten haben, innerhalb der Zahlfrist</p>

    ]]></description>
  <changelog version="1.1.0">
    <changes><![CDATA[

        First release Shopware Community Store

    ]]></changes>
    <changes lang="de"><![CDATA[

        Erstveröffentlichung Shopware Community Store

    ]]></changes>
  </changelog>
  <changelog version="1.2.0">
    <changes><![CDATA[

        Configurable order and payment status after checkout.

    ]]></changes>
    <changes lang="de"><![CDATA[

        Konfigurierbarer Bestell- und Zahlungsstatus nach Checkout.

    ]]></changes>
  </changelog>
  <changelog version="1.3.0">
    <changes><![CDATA[

        Cron Job for monitoring and reporting order information

	  ]]></changes>
    <changes lang="de"><![CDATA[

        Cron Job zur Ueberwachung und Meldung von Bestellungen

	  ]]></changes>
  </changelog>
  <changelog version="1.3.1">
    <changes><![CDATA[

        Shopware 5.3 compatibility adjustments

	  ]]></changes>
    <changes lang="de"><![CDATA[

        Shopware 5.3 Kompatibilitätsanpassungen

	  ]]></changes>
  </changelog>
  <changelog version="1.4.0">
    <changes><![CDATA[

        Shopware 5.3 compatibility adjustments

	  ]]></changes>
    <changes lang="de"><![CDATA[

        Shopware 5.3 Kompatibilitätsanpassungen

	  ]]></changes>
  </changelog>
  <changelog version="1.4.1">
    <changes><![CDATA[

        Shopware 5.3 compatibility adjustments

	  ]]></changes>
    <changes lang="de"><![CDATA[

        Shopware 5.3 Kompatibilitätsanpassungen

	  ]]></changes>
  </changelog>
</plugin>
